/* GOOGLE FONTS FAMILY 'NOTO SERIF' LOADED WITH BOTH 400 AND 700 WEIGHTS: font-family: 'Noto Serif', serif;*/

nav {
  background-color: #9cccd6;
  font-family: 'Noto Serif', serif;
}
nav.navbar {
  padding: 10px 8.3% 0;
}
.logo {
  height: 40px;
  bottom: 2px;
}
a.btn-secondary {
  color: #000000;
  background-color: #9cccd6;
  border-color: #9cccd6;
}
a.navbar-brand h1{
  font-size: 1.5rem;
  line-height: 170%;
}
div.navbar-nav {
  width: 100%;
  max-width: 580px;
  padding-left: 100px;
}
a.nav-item.nav-link {
  font-size: 1.25rem;
  padding: 8px 10px;
}
a.nav-item.nav-link:hover {
  padding: 6px 8px;
  border: 2px solid black;
  border-radius: 6px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  background-color: #000000;
  color: #9cccd6;
  border-radius: .4rem;
}
/* ROW ONE */
div.row-one {
  background-color: #9cccd6;
  font-family: 'Noto Serif', serif;
}
img.imac {
  width: 100%;
  max-width: 361px;
}
/* ROW TWO */
div.row-two {
  max-width: 1400px;
}
div.row-two div p {
  max-width: 303px;
}
div.row-two div img {
  height: 100%;
  max-height: 150px;
  object-fit: cover;
}
/* ROW THREE */
div.three {
  background-color: #99d3a7;
}
section.row-three h3 {
  font-family: 'Noto Serif', serif;
}
section.row-three p {
  max-width: 530px;
}
/* ROW FOUR */
section.row-four button {
  padding: 4px 6px;
  color: #ffffff;
  background-color: #99d3a7;
  border: 2px solid #99d3a7;
  border-radius: 6px;
}
section.row-four button.btn:hover {
  border: 2px solid #ffffff;
}
section.row-four button.btn.active:active,
section.row-four button.btn:focus {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #99d3a7;
  box-shadow: none;
}
/* ROW FIVE */
section.row-five div img {
  padding: : 15px;
  height: 172px;
  width: 235px;
  object-fit: cover;
}
/* NAV BAR MEDIA QUERIES */
@media (max-width: 991px) {
  a.nav-item {
    width: 115px;
    height: 46px;
  }
  div.navbar-nav {
    width: 115px;
    margin-right: auto;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
  }
}
/* DISPLAY-4 TEXT MEDIA QUERIES */
@media (min-width: 800px) and (max-width: 1280px) {
  .display-4 {
    font-size: 4.4vw;
  }
}
@media (max-width: 800px) {
  .display-4 {
    font-size: 2.2rem;
  }
}
